
.form-group.col-lg-12
  = f.label :start_date, class: 'control-label'
  = f.date_field :start_date, class: 'form-control'
.form-group.col-lg-12
  = f.label :end_date, class: 'control-label'
  = f.date_field :end_date, class: 'form-control'