= javascript_include_tag 'planning'
= javascript_include_tag 'shared/sorttable'

%h1 Salary Planning

%table#planning.table.table-striped.sortable
  %thead.thead
    %tr
      %th First Name
      %th Last Name
      %th Current
      %th Since
      %th Previous
      %th Proposed Date
      %th Proposed Raise
      %th Proposal Discussion
  %tbody
    = render partial: 'planning/employee', collection: @employees, as: :employee
