= javascript_include_tag 'salaries'
%h1 Salaries
#salaries_chart{data: {employees: @employees.to_json(methods: [:display_pay]), data_table: @data_table.to_json, chart_params: {width: 800, height: 500, legend: "right", vAxis: {minValue: 0, gridlines: {count: 10}}}.to_json}}
= render 'form'
