%h1 Home

#row
  .col-md-6.text-center
    %h2= link_to 'Salaries', salaries_path
    #salary_preview_chart.small-chart.center
    = render_chart @salary_chart, 'salary_preview_chart'
  .col-md-6.text-center
    %h2= link_to 'Experience', experience_path
    #experience_preview_chart.small-chart.center
    = render_chart @experience_chart, 'experience_preview_chart'
