// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large-chart {
  position: relative;
  height: 500px;
  width: 800px;
}
.small-chart {
  position: relative;
  height: 200px;
  width: 300px;
  cursor: pointer;
}
.large-chart.center {
  left: 50%;
  margin-left: -400px;
}
.small-chart.center {
  left: 50%;
  margin-left: -150px;
}
#salaries_chart > div > div:nth-child(1) > div > svg > g:nth-child(3) {
  cursor: pointer;
}
